.challenge__content {
  margin: 6% auto;
  .container{
    @include outer-container;
  }
  .image{
    @include span-columns(2);
  }
  .row.header{
    @include row();
  }
  .title{
    @include span-columns(10);
    @include omega();
    .desafio{
      font-size: 26px;
      color: $dsp__blue2;
      margin-bottom: 5px;
    }
    .titulo{
      font-size: 32px;
      color: #305570;
      margin-bottom: 10px;
    }
    .area{
      color: #b7b7b7;
      font-size: 18px;
      margin-bottom: 0;
      text-transform: uppercase;
      letter-spacing: .3em;
    }
  }
  .row.blocks{
    margin: 4% 0;
    @include transition(all, 300ms, ease-in-out);
    @include row(table);
    @include fill-parent();
    .block{
      padding: 8% 0;
      cursor: pointer;
      @include span-columns(4);
      h2{
        text-align: center;
        color: #fff;
        font-size: 32px;
        font-family: 'League Spartan', sans-serif;
        margin: 0;
      }
      &::after{
        content: '';
        background: url(../images/icons/caret.svg);
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        margin-top: 10px;
      }
      &.open::after{transform: rotate(180deg); }
      &.bg-dspred:hover{background-color: darken($dsp__red, 10%); }
      &.bg-dspblue2:hover{background-color: darken($dsp__blue2, 10%); }
      &.bg-dspgreen:hover{background-color: darken($dsp__green, 10%); }
    }
  }
  .fill-content{
    h2{
      color: $dsp__blue2;
      font-family: 'League Spartan', sans-serif;
      font-size: 32px;
    }
    ul{
      list-style-type: disc;
      list-style-position: inside;
    }
    .criteria{
      background-color: #e9edef;
      margin-top: 30px;
      padding: 40px 50px;
    }
  }
  p, label, li{
    font-size: 22px;
    line-height: 180%;
  }
  .btn.call-to-action{
    background: #22a5f6;
    color: #fff;
    width: 330px;
    height: 70px;
    margin: 5% auto;
    font-weight: 600;
    font-size: 18px;
    display: block;
    text-align: center;
    letter-spacing: .15em;
    line-height: 3.8em;
    text-transform: uppercase;
    @include transition(all, 300ms, ease-in-out);
    &:hover{
      background: darken(#22a5f6, 10%);
    }
  }
}

.contactus__content {
  @extend .main__content;
  .form{
    padding: 4% 0;
  }
  input, textarea{
    box-shadow: none;
    border-radius: 0;
    resize: none;
    background-color: #fafafa;
  }
  input[type="text"], input[type="email"]{
    height: 40px;
  }
  textarea{
    height: 300px;
  }
  .submit.btn{
    float: right;
    background-color: $dsp__blue2;
    width: 150px;
    height: 50px;
  }
}
.historia.light-gray-background{
  background-color: #fafafa;
}
.desafios_list_content{
  .header {
    font-weight: 300;
    margin-bottom: $base-margin;
    padding-top: $base-margin * 3;
    padding-bottom: $base-margin * 3;
    border-bottom: 1px $light-gray solid;
    background-color: $dsp__blue;

    .title {
      text-align: center;
      font-size: 4em;
      color: white;
    }

    .subtitle {
      text-align: center;
      font-size: 2em;
      color: white;
    }
  }
  h1{
    font-size: 3em;
  }
  p{
    font-size: 18px;
  }
  .container{
    @include outer-container;
    margin: 5% auto;
    > .right{
      @include span-columns(8);
      @include shift(2);
    }
  }
  .challenge-list{
    margin-top: 60px;
    li{
      margin-bottom: 60px;
      .area{
        color: #777;
        text-transform: uppercase;
        letter-spacing: .3em;
      }
      .title{
        color: #4a4a4a;
        font-size: 18px;
        margin-top: 5px;
      }
      .left .solid{
        display: block;
        width: 180px;
        height: 120px;
      }
      .row{
        display: table;
      }
      .left, .right{
        display: table-cell;
        vertical-align: top;
      }
      .right{
        padding-left: 30px;
      }
    }
  }
  .challenge-list .solid.blue{
    background-color: $dsp__blue;
  }
}

.elteam{
  padding:4% 0;
  h1.title{
    text-align: center;
    font-size: 5em;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #2e3c40;
  }
  .grid-photos{
    @include outer-container;
    .member{
      @include span-columns(4);
      @include omega(3n);
      margin-bottom: 40px;
      position: relative;
      cursor: pointer;
      &:hover .overlay-data{
        opacity: 1;
      }
    }
    .overlay-data{
      @include transition(all 300ms ease-in-out);
      position: absolute;
      opacity: 0;
      bottom: 20px;
      background-color: #fff;
      width: 90%;
      left: 5%;
      padding: 10px 20px;
      .name{
        text-transform: uppercase;
        color: #2e3c40;
        font-size: 1.9em;
        font-weight: 600;
        margin-bottom: 0;
      }
      .jobtitle{
        text-transform: uppercase;
        font-weight: 300;
        font-size: .9em;
        letter-spacing: .1em;
        color: lighten(#2e3c40, 10%)
      }
    }
  }
}
.bg-dspred{background-color: $dsp__red; }
.bg-dspblue{background-color: $dsp__blue; }
.bg-dspblue2{background-color: $dsp__blue2; }
.bg-dspyellow{background-color: $dsp__yellow; }
.bg-dspgreen{background-color: $dsp__green; }
p, li, label{color: #808080; }