.challenge__content {
  margin: 6% auto;
  .container{
    @include outer-container;
  }
  .image{
    @include span-columns(2);
  }
  .row.header{
    @include row();
  }
  .title{
    @include span-columns(10);
    @include omega();
    .desafio{
      font-size: 26px;
      color: $dsp__blue2;
      margin-bottom: 5px;
    }
    .titulo{
      font-size: 32px;
      color: #305570;
      margin-bottom: 10px;
    }
    .area{
      color: #b7b7b7;
      font-size: 18px;
      margin-bottom: 0;
      text-transform: uppercase;
      letter-spacing: .3em;
    }
  }
  .row.blocks{
    margin: 4% 0;
    @include transition(all, 300ms, ease-in-out);
    @include row(table);
    @include fill-parent();
    .block{
      padding: 8% 0;
      cursor: pointer;
      @include span-columns(4);
      h2{
        text-align: center;
        color: #fff;
        font-size: 32px;
        font-family: 'League Spartan', sans-serif;
        margin: 0;
      }
      &::after{
        content: '';
        background: url(../images/icons/caret.svg);
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        margin-top: 10px;
      }
      &.open::after{transform: rotate(180deg); }
      &.bg-dspred:hover{background-color: darken($dsp__red, 10%); }
      &.bg-dspblue2:hover{background-color: darken($dsp__blue2, 10%); }
      &.bg-dspgreen:hover{background-color: darken($dsp__green, 10%); }
    }
  }
  .fill-content{
    h2{
      color: $dsp__blue2;
      font-family: 'League Spartan', sans-serif;
      font-size: 32px;
    }
    ul{
      list-style-type: disc;
      list-style-position: inside;
    }
    .criteria{
      background-color: #e9edef;
      margin-top: 30px;
      padding: 40px 50px;
    }
  }
  p, label, li{
    font-size: 22px;
    line-height: 180%;
  }
  .btn.call-to-action{
    background: #22a5f6;
    color: #fff;
    width: 330px;
    height: 70px;
    margin: 5% auto;
    font-weight: 600;
    font-size: 18px;
    display: block;
    text-align: center;
    letter-spacing: .15em;
    line-height: 3.8em;
    text-transform: uppercase;
    @include transition(all, 300ms, ease-in-out);
    &:hover{
      background: darken(#22a5f6, 10%);
    }
  }
}

.contactus__content {
  @extend .main__content;
  .form{
    padding: 4% 0;
  }
  input, textarea{
    box-shadow: none;
    border-radius: 0;
    resize: none;
    background-color: #fafafa;
  }
  input[type="text"], input[type="email"]{
    height: 40px;
  }
  textarea{
    height: 300px;
  }
  .submit.btn{
    float: right;
    background-color: $dsp__blue2;
    width: 150px;
    height: 50px;
  }
}
.historia.light-gray-background{
  background-color: #fafafa;
}
.historia{
  .helpus{
    width: 60%;
    margin: 0 auto;
    text-align: left !important;
    li{
      margin-bottom: 60px;
      .svg{
        float: left;
        display: block;
      }
      p{
        float: left;
        width: 80%;
        margin-left: 20px;
      }
    }
  }
  .title{
    font-size: 45px;
    color: $dsp__main;
  }
}
.desafios_list_content{
  margin: 6% auto;
  h1{
    font-size: 90px;
    color: $dsp__blue3;
    text-align: center;
    margin-bottom: 20px;
  }
  p.tac{
    font-size: 22px;
    width: 90%;
    margin: 0 auto;
  }
  .listado{margin-top: 8%; }
  .container{@include outer-container; }
  .reto{
    margin-bottom: 80px;
    @include row();
    .image{@include span-columns(3); }
    .content{@include span-columns(9); }
    .title{
      color: $dsp__blue3;
      font-family: 'League Spartan', sans-serif;
      font-size: 24px;
      margin-bottom: 0;
    }
    .area{
      text-transform: uppercase;
      color: #b2b2b2;
      letter-spacing: .3em;
      font-size: 18px;
      &::before{
        content: '';
        width: 10px;
        height: 10px;
        background-color: $dsp__red;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    .desc{
      font-size: 18px;
      line-height: 140%;
    }
    .go-to{
      font-size: 22px;
      color: $dsp__main;
      .ico.arrow{
        background: url(../images/icons/flecha.svg) no-repeat;
        width: 9px;
        height: 15px;
        background-size: 10px;
        display: inline-block;
      }
    }
  }
}

.elteam{
  padding:4% 0;
  .subtitle{
    text-align: center;
    font-size: 22px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  h1.title{
    text-align: center;
    font-size: 90px;
    color: $dsp__blue3;
    margin-bottom: 0;
  }
  h2.name{
    color: $dsp__main;
    text-align: center;
    font-size: 42px;
    font-family: 'League Spartan', sans-serif;
  }
  p.name{
    color: $dsp__blue3;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
  }
  .grid-photos{
    @include outer-container;
    .member{
      @include span-columns(4);
      @include omega(3n);
      cursor: pointer;
      margin-bottom: 40px;
      position: relative;
      .imagen{
        width: 190px;
        height: 190px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
      }
      &:hover .overlay-data{
        opacity: 1;
      }
      &.center{
        @include shift(4);
      }
    }
    .overlay-data{
      @include transition(all 300ms ease-in-out);
      position: absolute;
      opacity: 0;
      bottom: 20px;
      background-color: #fff;
      width: 90%;
      left: 5%;
      padding: 10px 20px;
      .name{
        text-transform: uppercase;
        color: #2e3c40;
        font-size: 1.9em;
        font-weight: 600;
        margin-bottom: 0;
      }
      .jobtitle{
        text-transform: uppercase;
        font-weight: 300;
        font-size: .9em;
        letter-spacing: .1em;
        color: lighten(#2e3c40, 10%)
      }
    }
  }
}
.bg-dspred{background-color: $dsp__red; }
.bg-dspblue{background-color: $dsp__blue; }
.bg-dspblue2{background-color: $dsp__blue2; }
.bg-dspyellow{background-color: $dsp__yellow; }
.bg-dspgreen{background-color: $dsp__green; }
p, li, label{color: #808080; }