.challenge__content {
    @extend .main__content;

    .header {
        color: white;
        background-color: $dsp__main;

        .title { color: white }
        .subtitle { color: $dsp__yellow }
    }

    section {
      margin-bottom: 40px;

      .desafio{
        font-size: 40px;
        text-align: center;
      }
      .subtitle{
        font-size: 30px;
        text-align: center;
        color: $dsp__yellow;
      }
      .subsection {
        padding-bottom: 40px;
        button {
          background-color: $dsp__red;
          font-size: 1.2em;
        }
      }

      p {
        margin-bottom: 15px;
      }
    }
}
