$base-margin: 40px;

.faq__content {
  min-height: 700px;
  padding-bottom: 70px;

  .title {
    text-align: center;
    font-size: 4em;
    // color: $dsp__main;
    color: white;
    background-color: $dsp__red;
    font-weight: 300;
    margin-bottom: $base-margin;
    padding-top: $base-margin * 3;
    padding-bottom: $base-margin * 3;
    border-bottom: 1px $light-gray solid;
  }

  .question {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $base-margin;
    .question__title {
      font-size: 2em;
      color: $dsp__blue;
      margin-bottom: $base-margin / 2.0;
    }
    .question__content {
      font-size: 1em;
      color: transparentize($dark-gray, 0.3);
    }
  }
}
