$base-margin: 40px;

.faq__content {
	margin: 6% auto;
	.container{
		@include outer-container;
	}
	h1{
		font-size: 70px;
		color: $dsp__blue3;
		text-align: center;
		margin-bottom: 20px;
	}
	.header {
		color: white;
		background-color: $dsp__red;
	}
	section .section__title.section__title{
		color: $dsp__red;
		font-size: 30px;
		margin: 40px 0 20px;
	}
	p{
		font-size: 18px;
		line-height: 160%;
	}
	.faq{
		width: 80%;
		margin: 0 auto;
	}
	@media(max-width: 550px){
		h1{
			font-size: 3em;
			margin: 20px 0;
		}
		p{
			font-size: 1em;
		}
		section .section__title.section__title{
			font-size: 1.2em;
		}
	}
}
