.grid-items-lines
  %a.grid-item{:href => "javascript:void(0)"}
    %p Conviértete en campeón o campeona de Gobierno Abierto
  %a.grid-item{:href => "javascript:void(0)"}
    %p Forma parte de la red de innovadores que transforma la relación de nuestro municipio con nuestra comunidad
  %a.grid-item{:href => "javascript:void(0)"}
    %p Recibe mentoría especializada por las y los expertos con mayor reconocimiento internacional y local en el tema de tu elección
  %a.grid-item{:href => "javascript:void(0)"}
    %p Obten un certificado del GovLab en materia de Gobierno Abierto e Innovación Abierta
  %a.grid-item{:href => "javascript:void(0)"}
    %p Las ideas seleccionadas se trabajarán con Municipio para implementarlas y generar un bien para toda la comunidad
  %a.grid-item{:href => "javascript:void(0)"}
    %p Al concluir el programa los equipos seleccionados presentarán sus proyectos ante el Alcalde, Mauricio Fernández, la directora del GovLab, Beth Noveck y el público en general
  .right-cover
  .bottom-cover
