.flex-boxes
  %a.flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Comunidad
    %p ¿Cómo re-diseñarías los trámites y servicios de Municipio?

  %a.flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Eficiencia Gubernamental
    %p ¿Cómo re-diseñarías los trámites y servicios de Municipio?

  %a.flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Medio Ambiente
    %p ¿Cómo re-diseñarías los trámites y servicios de Municipio?

  %a.flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Movilidad
    %p ¿Cómo re-diseñarías los trámites y servicios de Municipio?

  %a.flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Tema Abierto
    %p ¿Cómo re-diseñarías los trámites y servicios de Municipio?

-# Example: Flexbox big.
-# %a.flex-box.flex-box-big{:href => "javascript:void(0)"}
-#   %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
-#   %h1.flex-title A Wide Flex Box Item
-#   %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum, libero! Laborum distinctio necessitatibus voluptates eaque officiis, unde illo, earum voluptatum rerum, reiciendis ipsa ex dolorem a dicta, maxime aliquam.

-# Example: Flexbox normal.
-# %a.flex-box{:href => "javascript:void(0)"}
-#   %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
-#   %h1.flex-title Flex Box Item
-#   %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.
