.flex-boxes
  %a.flex-box{:href => "desafios/desafio-1.html"}
    %h1.flex-title Comunidad
  %a.flex-box{:href => "desafios/desafio-2.html"}
    %h1.flex-title Eficiencia Gubernamental
  %a.flex-box{:href => "desafios/desafio-4.html"}
    %h1.flex-title Medio Ambiente
  %a.flex-box{:href => "desafios/desafio-3.html"}
    %h1.flex-title Movilidad
  %a.flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Familia Sin Violencia
  %a.flex-box{:href => "desafios/desafio-5.html"}
    %h1.flex-title Tema Abierto
