.flex-boxes
  %a.flex-box{:href => "#"}
    %h1.flex-title Comunidad
  %a.flex-box{:href => "#"}
    %h1.flex-title Eficiencia Gubernamental
  %a.flex-box{:href => "#"}
    %h1.flex-title Medio Ambiente
  %a.flex-box{:href => "#"}
    %h1.flex-title Movilidad
  %a.flex-box{:href => "#"}
    %h1.flex-title Familia Sin Violencia
  %a.flex-box{:href => "#"}
    %h1.flex-title Tema Abierto
