.flex-boxes
  %a.flex-box{:href => "desafio1.html"}
    %h1.flex-title Comunidad
  %a.flex-box{:href => "desafio2.html"}
    %h1.flex-title Eficiencia Gubernamental
  %a.flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Medio Ambiente
  %a.flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Movilidad
  %a.flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Familia Sin Violencia
  %a.flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Tema Abierto
