%footer.footer{:role => "contentinfo"}
  .footer-logo
    = image_tag "logos/logo__san-pedro-blanco.png", style: 'margin-right: 2em; margin-left: 2em;', alt: "San Pedro Logo"
    = image_tag "logos/logo__govlab-blanco.png", style: 'margin-right: 2em; margin-left: 2em;', alt: "Govlab Logo"
    = image_tag "logos/logo__codeandomexico-blanco.png", style: 'margin-right: 2em; margin-left: 2em;', alt: "Codeando México Logo"
  .footer-links
    %ul
      %li
        %h3 Contenido
      %li
        %a{:href => "contact.html"} Contacto
    %ul
      %li
        %h3 Síguenos
      %li
        %a{:href => "javascript:void(0)"} Facebook
      %li
        %a{:href => "javascript:void(0)"} Twitter
    %ul
      %li
        %h3 Legal
      %li
        %a{:href => "javascript:void(0)"} Términos y Condiciones
      %li
        %a{:href => "javascript:void(0)"} Aviso de Privacidad
