.modal
	%input#modal-1.modal-state{:type => "checkbox"}/
	.modal-fade-screen
		.modal-inner
			.modal-close{:for => 'modal-1'}
			%h1 Modal title
			%p.modal-intro Intro Lorem ipsum dolor sit amet.
			%p.modal-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit iure dicta aut cumque ab reiciendis, fugiat facere id, repellendus minus, repellat maxime officia mollitia esse sunt dolore eaque illum quidem officiis et deleniti. Eos adipisci impedit laboriosam sint minima minus?