- i = -1
- data.team.each do | group | 
	- group[1].each do | member | i = i+1
		.modal
			%input.modal-state{:type => "checkbox", :id => "modal-"+i.to_s}/
			.modal-fade-screen
				.modal-inner
					.modal-close{:for => 'modal-'+i.to_s}
					%h1= member.name
					%p.modal-content= member.bio