%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a.lspartan.logo{:href => "#"} Desaf&iacute;oSP
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link
          %a{:href => "/"} Inicio
        %li#js-navigation-more.nav-link.more
          %a{:href => "desafios.html"} Desafíos
          -# Listado de desafíos
          %ul.submenu
            %li
              = link_to "Comunidad", "desafio1.html"
            %li
              = link_to "Eficiencia Gubernamental", "desafio2.html"
        %li.nav-link
          %a{:href => "participate.html"} Bases de participación
        %li.nav-link
          %a{:href => "team.html"} El equipo
        %li.nav-link
          %a{:href => "faq.html"} Preguntas Frecuentes
        %li.nav-link
          %a{:href => "contact.html"} Contacto
