%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link
          %a{:href => "/"} Inicio
        %li#js-navigation-more.nav-link.more
          %a{:href => "desafios.html"} Desafíos
          -# Listado de desafíos
          %ul.submenu
            %li
              %a{:href => "challenge.html"} Desafío 1
            %li
              %a{:href => "challenge.html"} Desafío 2
            %li
              %a{:href => "challenge.html"} Desafío 3
            %li
              %a{:href => "challenge.html"} Desafío 4
            %li
              %a{:href => "challenge.html"} Desafío 5
            %li
              %a{:href => "challenge.html"} Desafío 6
            %li
              %a{:href => "challenge.html"} Desafío N
        %li.nav-link
          %a{:href => "participate.html"} Bases de participación
        %li.nav-link
          %a{:href => "team.html"} El equipo
        %li.nav-link
          %a{:href => "faq.html"} Preguntas Frecuentes
        %li.nav-link
          %a{:href => "contact.html"} Contacto
