%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link
          %a{:href => "/"} Inicio
        %li#js-navigation-more.nav-link.more
          %a{:href => "javascript:void(0)"} Desafíos
          -# Listado de desafíos
          %ul.submenu
            %li
              %a{:href => "/challenge"} Desafío 1
            %li
              %a{:href => "/challenge"} Desafío 2
            %li
              %a{:href => "/challenge"} Desafío 3
            %li
              %a{:href => "/challenge"} Desafío 4
            %li
              %a{:href => "/challenge"} Desafío 5
            %li
              %a{:href => "/challenge"} Desafío 6
            %li
              %a{:href => "/challenge"} Desafío N
        %li.nav-link
          %a{:href => "/participate"} Bases de participación
        %li.nav-link
          %a{:href => "/faq"} Preguntas Frecuentes
