$base-margin: 40px;

.main__content {
  min-height: 700px;
  padding-bottom: 70px;

  .header {
    font-weight: 300;
    margin-bottom: $base-margin;
    padding-top: $base-margin * 3;
    padding-bottom: $base-margin * 3;
    border-bottom: 1px $light-gray solid;
    background-color: $dsp__blue2;

    .title {
      text-align: center;
      font-size: 4em;
      color: white;
    }

    .subtitle {
      text-align: center;
      font-size: 2em;
      color: white;
    }
  }


  section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .section__title {
      font-weight: 300;
      font-size: 2em;
      color: $dsp__blue;
      margin-bottom: $base-margin / 2.0;
    }
    .section__content {
      font-size: 1.2em;
      font-weight: 300;
      color: transparentize($dark-gray, 0.3);
      margin-bottom: $base-margin;
    }

    ul {
      list-style-type: circle;
      padding-left: 1em;
      margin-bottom: 40px;

      li {
        font-size: 1.2em;
        font-weight: 300;
        color: transparentize($dark-gray, 0.3);
      }
    }
  }
}
