.no-padding-top {
  padding-top: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}


.no-padding-left {
  padding-left: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-margin-right {
  margin-right: 0;
}

.dark-blue-background {
  background-color: $dsp__main;
}

.medium-dark-blue-background {
  background-color: $dsp__medium-dark;
}

.medium-blue-background {
  background-color: $dsp__blue;
}

.light-blue-background {
  background-color: $dsp__lightblue;
}

.dark-blue-text-color {
  color: $dsp__main;
}

.light-blue-text-color {
  color: $dsp__lightblue;
}

.medium-blue-text-color {
  color: $dsp__blue2;
}

.white-text-color {
  color: white;
}
