.footer{
  background: $dsp__main;
  padding: 60px 0;
  .container{
    @include outer-container;
  }
  .footer-links{
    li, a{
      color: #fff;
      font-size: 20px;
      font-weight: 500;
    }
    li{
      display: inline-block;
      margin-right: 20px;
      &.last{
        margin-right: 0;
        float: right;
        visibility: hidden;
      }
    }
  }
  .footer-logos{
    margin-top: 40px;
    a{
      margin-right: 2em;
    }
  }
}
.colored-border{
  @include row(table);
  @include fill-parent();
  .border{
    @include span-columns(4);
    height: 8px;
  }

}