.footer{
  background: $dsp__main;
  padding: 60px 0;
  .container{
    @include outer-container;
    @include pad();
  }
  .footer-links{
    li, a{
      color: #fff;
      font-size: 20px;
      font-weight: 500;
    }
    li{
      display: inline-block;
      margin-right: 20px;
      &.last{
        margin-right: 0;
        float: right;
      }
    }
  }
  .footer-logos{
    .social{
      float: right;
      .fb, .tw{
        display: block;
        float: left;
      }
      .fb{
        background: url(../images/fb.svg) no-repeat;
        width: 30px;
        height: 30px;
      }
      .tw{
        background: url(../images/tw.svg) no-repeat;
        width: 30px;
        height: 30px;
        margin-right: 0;
      }
    }
    margin-top: 40px;
    a{
      margin-right: 2em;
      display: block;
    }
    .logos{
      float: left;
    }
    .logos a{
      float: left;
    }
  }
}
.colored-border{
  @include row(table);
  @include fill-parent();
  .border{
    @include span-columns(4);
    height: 8px;
  }

}