.vertical__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;

  section {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    .stuff {
      max-width: 80%;

      h3 { font-size: 1.5em; }
      p { font-size: 1em; }
    }

    span {
      font-size: 5em;
      align-self: center;
    }
  }
}
