.vertical__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;

  section {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    .stuff {
      max-width: 80%;
      margin-bottom: 30px;

      h3 {
        font-size: 1.5em;
      }
      p {
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5;
      }
    }

    span {
      font-size: 5em;
      align-self: center;
    }
  }
}
