---
title: Desaf&iacute;os
---

.desafios_list_content
	.header
		.title Desaf&iacute;os
	.container
		.right
			%h1 Desaf&iacute;os
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sit sunt illo excepturi, corporis blanditiis molestias quasi facere fugiat sed!

			%ul.challenge-list
				- for i in 1..4
					%li
						.row
							.left
								%a.solid.blue{:href => "#"}
							.right
								%a.area{:href => "#"} Eficiencia Gubernamental
								.clear
								%a.title{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores sapiente, rerum, consectetur quis harum quasi. Sapiente sit consectetur possimus quia?
