---
title: Desaf&iacute;os
---

.desafios_list_content
	.header
		.title Desaf&iacute;os
	.container
		.right
			%h1 Desaf&iacute;os
			%p Ayúdanos a transformar la forma en la que municipio y comunidad colaboran para resolver los problemas que nos interesan a todos y todas. &Uacute;nete y ayúdanos a hacer historia.

			%ul.challenge-list
				- i = 0
				- data.challenges.each do | challenge | i = i+1
					%li
						.row
							.left
								%a.solid.blue{:href => "#"}
							.right
								= link_to challenge.area, "desafio" + i.to_s + ".html", :class => "area"
								.clear
								= link_to challenge.question, "desafio" + i.to_s + ".html", :class => "title"
