---
title: Desaf&iacute;os
---

.desafios_list_content
	.container
		%h1.lspartan Desaf&iacute;os
		%p.tac Ayúdanos a transformar la forma en la que municipio y comunidad colaboran para resolver los problemas que nos interesan a todos y todas.
		.listado
			- i = 0
			- data.challenges.each do | ch | i = i+1
				.reto
					.image
						%img{:src => "assets/images/#{ch.photo}", :alt => ch.area}/
					.content
						%p.title= ch.question
						%p.area{:class => ch.classd}= ch.area
						%p.desc= ch.description
						%a.go-to.lspartan{:href => "desafios/desafio-"+ch.id.to_s+".html"}
							Ir al desaf&iacute;o 
							%span.ico.arrow
