---
title: Preguntas frecuentes
---

.faq__content
  .container
    %h1.title.lspartan Preguntas frecuentes
    .faq
      - data.faqs.each do | faq |
        %section
          .section__title= faq.question
          %p= faq.answer