---
title: Preguntas frecuentes
---

.faq__content
  .title Preguntas frecuentes

  -# Question section starts here
  .question
    .question__title What is an Academy Coaching Program?
    .question__content
      Coaching programs are designed to help you take a project from idea to
      implementation and to scale. It is a hands-on, learning and mentoring
      program to help you design and implement solutions to a public interest
      problem using civic technology. Unlike a traditional accelerator, we focus
      only on the public interest and only on projects that work with real-world
      institutions and partners, such as agencies and NGOs, to develop more
      effective and scalable initiatives.

  .question
    .question__title What is the goal of the GovLab Academy?
    .question__content
      The goal of the GovLab Academy is to train public problem solvers – what
      we call public entrepreneurs – to use technology to create implementable
      engagement projects with the ultimate objective of improving people’s
      lives. We do not measure success by levels of enrollment but by the impact
      participant projects create.

  .question
    .question__title How Does it Work?
    .question__content
      The coaching programs are limited enrollment (maximum class size of
      12 projects), entirely online, highly customized, and meet every week
      for 5 consecutive weeks or every other week for 10 weeks. To help you
      and your team become more effective, we offer a combination of coaching
      and skill-building, connection to a network of subject-matter experts,
      peer-to-peer mentoring, customized and original learning materials, and
      frequent and constructive feedback opportunities from a team of teachers
      and peers at every stage of your agile design-driven process.

  .question
    .question__title Where Do the Sessions Meet?
    .question__content Entirely online.
