---
title: Preguntas frecuentes
---

.faq__content
  .header
    .title Preguntas frecuentes

  -# Question section starts here
  - data.faqs.each do | faq |
    %section
      .section__title= faq.question
      %p= faq.answer