---
title: Desafío San Pedro
---

-# Banner Principal
.vertical__container.dark-blue-background
  .image__container= image_tag 'banner.png', height: '100%'

-# Sección: ¿Qué es?
.vertical__container.dark-blue-background
  %section
    %span.medium-blue-text-color.big-text
      ¿Qué es?
  %section
    .keyPoints
      .stuff
        %h3.medium-blue-text-color Una nueva manera de resolver problemas públicos
        %p.white-text-color Buscamos crear un modelo de gobierno más descentralizado, colaborativo, y que sepa aprovechar la inteligencia y talentos dispersos en su comunidad en la resolución de problemas públicos.
      .stuff
        %h3.medium-blue-text-color Un nuevo paradigma de Participación Ciudadana
        %p.white-text-color Queremos transformar la manera de interactuar contigo y nuestra comunidad creando un nuevo espacio para una participación ciudadana activa y con impacto.

      .stuff
        %h3.medium-blue-text-color Una nueva forma de trabajo: el municipio como laboratorio de innovación
        %p.white-text-color Involucramos a todas las áreas del municipio a que formen parte de esta iniciativa para facilitar la identificación problemas prioritarios para ti. Queremos que el municipio en su totalidad se convierta en un laboratorio de innovación.

-# Sección: Participas
-# .image__container= image_tag 'banner_2.png', width: '100%', height: '100%'
.vertical__container.medium-dark-blue-background
  .multiplePointerContainer__pointer.participate__content
    %h2.title.right Participa
    .row
      .left.half
        %span.number.yellow 1
        %p.title Elige un desaf&iacute;o 
        %p.body 
          Conoce los distintos desafíos, sus problemáticas y sus contextos, así como los datos relevantes que municipio tiene sobre el tema. 
          %br/
          %br/
          ¡Te estamos buscando a ti! Queremos conocer tus ideas, tus habilidades y conocimientos.
          %br/
          %br/
          ¡Participa!
        %a.action.btn{:href => "#"} Ver desaf&iacute;os
    .row
      .right.half
        %span.number.red 2
        %p.title Arma tu equipo
        %p.body
          ¿Ya revisaste los Desafíos? Es momento de armar a tu equipo. Invita a personas que les apasione el tema y tengan las habilidades necesarias para formular una buena propuesta.  
          %br/
          %br/
          ¿Te interesa participar pero no cuentas con un equipo? ¡Aquí puedes conseguir uno! Te contactaremos con personas que están interesadas en el mismo Desafío que tú.
        %a.action.btn{:href => "#"} Arma tu equipo
    .row
      .left.half.third
        %span.number.blue 3
        %p.title Env&iacute;a tu propuesta
        %p.body ¡Queremos saber de tí y aprovechar tus habilidades y tu creatividad! Ayúdanos a transformar la forma en la que municipio y comunidad colaboran para resolver los problemas que nos interesan a todos y todas. Únete y ayúdanos a hacer historia.
        %a.action.btn{:href => "#"} Aplica


  

-# Sección: Ejes temáticos
.multiplePointerContainer__pointer.fitness-content
  .title
    %h1.yellow-text-color Ejes temáticos
  = partial "patterns/flexboxes"

-# Sección: Ayúdanos a hacer historia
.multiplePointerContainer__pointer.light-gray-background
  .title
    %h1.red-text-color Ayúdanos a hacer historia
  = partial "patterns/flexboxes-no-background"
