---
title: Bases de participación
---

.participate__content
  .header
    .title Bases de participación
    .subtitle ¡Forma parte de la próxima generación de innovadores públicos!
  %section
    %p Mediante <strong>DesafíoSP</strong> queremos que tú seas parte de la primera generación de emprendedores públicos, a quienes nosotros definimos como personas apasionadas e innovadoras que buscan hacer uso de sus conocimientos, habilidades y experiencias para el bien de la comunidad. 
    %p En conjunto con The GovLab Academy y Codeando México te ofreceremos  entrenamiento y mentoría personalizada, para ayudarte a transformar tus buenas ideas en proyectos implementables y con impacto
    %p El municipio de San Pedro Garza García convoca a la población en general a ser parte de este primer ejercicio de innovación abierta para la resolución de problemas públicos. 
    %p Las y los participantes seleccionados recibirán:
    %ul
      %li Un programa flexible y personalizado de acuerdo con las necesidades de cada proyecto y participante
      %li Un diagnóstico riguroso sobre los impedimentos para la ejecución del proyecto
      %li Énfasis en la identificación y delimitación del problema basada en situaciones concretas, de manera que su solución sea alcanzable
      %li Contacto con especialistas en materia de innovación y en gestión de proyectos
      %li Integración a una comunidad de emprendedores públicos que se prestan apoyo entre sí, especialmente cuando se encuentren trabajando en proyectos similares
      %li Mentoría y coaching por parte de expertos y expertas con una trayectoria de éxito en proyectos de cambio social
      %li Contenido, herramientas y recursos de alta calidad
      %li Un certificado digital autentificado de innovación y gobierno abierto por parte de The GovLab Academy
  %section
    %p.section_title La metodolog&iacute;a
    %img{:src => "assets/images/metodologiasmaller.png", :alt => "Metodologia"}/
  %section.calendar
    %p.section_title Calendario
    %table
      %tbody
        %tr
          %td Lanzamiento de Desaf&iacute;os
          %td 8 de octubre 2016
        %tr
          %td Cierre de recepci&oacute;n de ideas
          %td 7 de noviembre 2016
        %tr
          %td Evaluaci&oacute;n de propuestas
          %td Noviembre 7 - 14
        %tr
          %td Desarrollo de las propuestas 
          %td Noviembre - Enero
        %tr
          %td Presentaci&oacute;n de las propuestas
          %td &Uacute;ltima semana de enero
  %section.criteria
    %p.section_title Criterios de Selecci&oacute;n
    %ul
      %li
        %strong Creatividad (1-3)
        %br/
        Estamos buscando soluciones que presenten nuevas perspectivas a municipio: ¿Qué tanto aprovechas los datos que se abrieron para tu reto ? ¿Por qué tu propuesta es mejor que las ya existentes?  
      %li
        %strong Inclusi&oacute;n (1-5)
        %br/
        Nuestra prioridad es encontrar soluciones que beneficien a grupos vulnerables que generalmente carecen de representatividad: ¿Quiénes serían los mayores beneficiados en el caso de que la solución cause impacto? ¿Qué tanto impacto positivo podría generar tu solución en grupos vulnerables?
      %li
        %strong Impacto (1-5)
        %br/
        Lo que más nos interesa es que tu idea tenga posibilidad real de impacto: ¿Busca resolver un aspecto del problema importante y urgente? ¿Tu solución mejoraría de manera considerable la condición de a quiénes afecta el problema? ¿Existe una manera de comprobar, con datos, que tu propuesta mejoraría la calidad de vida de a quienes les afecta el problema?

      %li
        %strong Implementaci&oacute;n (1-5)
        %br/
        Queremos lograr atraer grupos diversos que estén comprometidos a llevar la idea a su fase de implementación: ¿el equipo cuenta con las habilidades y conocimientos necesarios para implementar la solución propuesta? ¿el presupuesto y tiempo de implementación se justifica con base en el beneficio y el impacto esperado? 
  %section
    %p Los equipos con mayor puntuación serán los seleccionados para formar parte de esta primera generación de emprendedores públicos. 
    %p El comité evaluador de cada reto estará compuesto por: una persona de The GovLab, una persona de Codeando México, un experto o experta independiente y dos personas de municipio. Para evitar favoritismos, las aplicaciones se mostrarán sin el nombre de las personas que la envían. 
    %p Los integrantes del Comité evaluador deberán abstenerse de evaluar y calificar aquellos trabajos en los que exista conflicto de interés.
    %p El Comité Evaluador se reserva el derecho de declarar desierto el concurso cuando los trabajos no cumplan con los requisitos de la presente convocatoria, la calidad o seguridad requerida o los criterios de evaluación. 

  %section.compromiso
    %p.section_title Tu Compromiso
    %ul
      %li 
        %strong Asistencia:
        el espíritu de este ejercicio es el de formar comunidad. Por esto, se espera que todas y todos los equipos seleccionados participen activamente en las sesiones agendadas y contribuyan sustancialmente a las discusiones. 
      %li 
        %strong Plazos:
        se espera de las y los participantes que completen las lecturas y tareas estipuladas en el plazo acordado con cada equipo y que se comuniquen con las y los facilitadores y compañeros en tiempo oportuno. El compromiso mínimo por persona debe de ser de 5 horas semanales. 
      %li 
        %strong Comunidad:
        para fortalecer la comunidad, se espera que las y los participantes brinden retroalimentación sustantiva y constructiva a sus compañeras y compañeros, y hagan un esfuerzo para enseñar además de aprender, así como para trabajar colaborativamente. 
      %li 
        %strong Dedicación:
        sabemos que este proyecto implica una dedicación significativa de tiempo y energía y esperamos que las y los participantes inviertan el esfuerzo necesario para adquirir nuevas habilidades, solicitar retroalimentación y avanzar en su proyecto.
      %li 
        %strong Licencia:
        siguiendo el espíritu de apertura, te invitamos a que nos permitas compartir los materiales de tu proyecto bajo licencia de atribución no comercial Creative Commons. 
        %br/
        %small * Habrá excepciones para quienes quieran aprovechar esa oportunidad para iniciar su empresa social si se tiene el compromiso de aportar la tecnología o conocimiento adquirido a Muncipio. 




