---
title: Bases de participaci&oacute;n
---

.bases__content
  .container
    .header
      %h1.lspartan Bases
      %p.subtitle 
        %strong &iexcl;Forma parte de la pr&oacute;xima generaci&oacute;n de innovadores p&uacute;blicos!
    %section
      %p Mediante <strong>DesafíoSP</strong> queremos que tú seas parte de la primera generaci&oacute;n de emprendedores públicos, a quienes nosotros definimos como personas apasionadas e innovadoras que buscan hacer uso de sus conocimientos, habilidades y experiencias para el bien de la comunidad. 
      %p En conjunto con The GovLab Academy y Codeando México te ofreceremos  entrenamiento y mentoría personalizada, para ayudarte a transformar tus buenas ideas en proyectos implementables y con impacto.
      %p El municipio de San Pedro Garza García convoca a la poblaci&oacute;n en general a ser parte de este primer ejercicio de innovaci&oacute;n abierta para la resoluci&oacute;n de problemas públicos. 
      %hr/
      %p.dark-blue-text-color
        %strong Las y los participantes seleccionados recibirán:
      .incentivos
        %ul
          %li Un programa flexible y personalizado de acuerdo con las necesidades de cada proyecto y participante
          %li Un diagn&oacute;stico riguroso sobre los impedimentos para la ejecuci&oacute;n del proyecto
          %li Énfasis en la identificaci&oacute;n y delimitaci&oacute;n del problema basada en situaciones concretas, de manera que su soluci&oacute;n sea alcanzable
          %li Contacto con especialistas en materia de innovaci&oacute;n y en gesti&oacute;n de proyectos
          %li Integraci&oacute;n a una comunidad de emprendedores públicos que se prestan apoyo entre sí, especialmente cuando se encuentren trabajando en proyectos similares
          %li Mentoría y coaching por parte de expertos y expertas con una trayectoria de éxito en proyectos de cambio social
          %li Contenido, herramientas y recursos de alta calidad
          %li Un certificado digital autentificado de innovaci&oacute;n y gobierno abierto por parte de The GovLab Academy
    %section
      %p.section_title Metodolog&iacute;a
      %img.metodologia{:src => "assets/images/linea.png", :alt => "Metodologia"}/
    %section.calendar
      %p.section_title Calendario
      %table
        %tbody
          %tr
            %td Lanzamiento de Desaf&iacute;os
            %td 8 de octubre 2016
          %tr
            %td Cierre de recepci&oacute;n de ideas
            %td 14 de noviembre 2016
          %tr
            %td Evaluaci&oacute;n de propuestas
            %td Noviembre 7 - 14
          %tr
            %td Desarrollo de las propuestas 
            %td Noviembre - Enero
          %tr
            %td Presentaci&oacute;n de las propuestas
            %td Febrero
    %section.criteria
      %p.section_title Criterios de selecci&oacute;n:
      .incentivos
        %ul
          %li
            %strong Creatividad (1-3 puntos)
            %br/
            Estamos buscando soluciones que presenten nuevas perspectivas a municipio: ¿Qué tanto aprovechas los datos que se abrieron para tu reto ? ¿Por qué tu propuesta es mejor que las ya existentes?  
          %li
            %strong Inclusi&oacute;n (1-5 puntos)
            %br/
            Nuestra prioridad es encontrar soluciones que beneficien a grupos vulnerables que generalmente carecen de representatividad: ¿Quiénes serían los mayores beneficiados en el caso de que la soluci&oacute;n cause impacto? ¿Qué tanto impacto positivo podría generar tu soluci&oacute;n en grupos vulnerables?
          %li
            %strong Impacto (1-5 puntos)
            %br/
            Lo que más nos interesa es que tu idea tenga posibilidad real de impacto: ¿Busca resolver un aspecto del problema importante y urgente? ¿Tu soluci&oacute;n mejoraría de manera considerable la condici&oacute;n de a quiénes afecta el problema? ¿Existe una manera de comprobar, con datos, que tu propuesta mejoraría la calidad de vida de a quienes les afecta el problema?

          %li
            %strong Implementaci&oacute;n (1-5 puntos)
            %br/
            Queremos lograr atraer grupos diversos que estén comprometidos a llevar la idea a su fase de implementaci&oacute;n: ¿el equipo cuenta con las habilidades y conocimientos necesarios para implementar la soluci&oacute;n propuesta? ¿el presupuesto y tiempo de implementaci&oacute;n se justifica con base en el beneficio y el impacto esperado? 
    %section
      %p Los equipos con mayor puntuaci&oacute;n serán los seleccionados para formar parte de esta primera generaci&oacute;n de emprendedores públicos. 
      %p El Comité Evaluador de cada reto estará compuesto por: una persona de The GovLab, una persona de Codeando México, un experto o experta independiente y dos personas de municipio. Para evitar favoritismos, las aplicaciones se mostrarán sin el nombre de las personas que la envían. 
      %p Los integrantes del Comité Evaluador deberán abstenerse de evaluar y calificar aquellos trabajos en los que exista conflicto de interés.
      %p El Comité Evaluador se reserva el derecho de declarar desierto el concurso cuando los trabajos no cumplan con los requisitos de la presente convocatoria, la calidad o seguridad requerida o los criterios de evaluaci&oacute;n. 

    %section.compromiso
      %p.section_title Tu compromiso
      %ul
        %li 
          %strong Asistencia:
          el espíritu de este ejercicio es el de formar comunidad. Por esto, se espera que todas y todos los equipos seleccionados participen activamente en las sesiones agendadas y contribuyan sustancialmente a las discusiones. 
        %li 
          %strong Plazos:
          se espera de las y los participantes que completen las lecturas y tareas estipuladas en el plazo acordado con cada equipo y que se comuniquen con las y los facilitadores y compañeros en tiempo oportuno. El compromiso mínimo por persona debe de ser de 5 horas semanales durante 10 semanas consecutivas. 
        %li 
          %strong Comunidad:
          para fortalecer la comunidad, se espera que las y los participantes brinden retroalimentaci&oacute;n sustantiva y constructiva a sus compañeras y compañeros, y hagan un esfuerzo para enseñar además de aprender, así como para trabajar colaborativamente. 
        %li 
          %strong Dedicaci&oacute;n:
          sabemos que este proyecto implica una dedicaci&oacute;n significativa de tiempo y energía y esperamos que las y los participantes inviertan el esfuerzo necesario para adquirir nuevas habilidades, solicitar retroalimentaci&oacute;n y avanzar en su proyecto.
        %li 
          %strong Licencia*:
          siguiendo el espíritu de apertura, te invitamos a que nos permitas compartir los materiales de tu proyecto bajo licencia de atribuci&oacute;n no comercial Creative Commons. 
          %br/
          %small * Habrá excepciones para quienes quieran aprovechar esa oportunidad para iniciar su empresa social si se tiene el compromiso de aportar la tecnología o conocimiento adquirido a Muncipio. 




