---
title: Bases de participación
---

.participate__content
  .title Bases de participación

  %section
    .section__title What is an Academy Coaching Program?
    .section__content
      Coaching programs are designed to help you take a project from idea to
      implementation and to scale. It is a hands-on, learning and mentoring
      program to help you design and implement solutions to a public interest
      problem using civic technology. Unlike a traditional accelerator, we focus
      only on the public interest and only on projects that work with real-world
      institutions and partners, such as agencies and NGOs, to develop more
      effective and scalable initiatives.

  %section
    .section__content
      Coaching programs are designed to help you take a project from idea to
      implementation and to scale. It is a hands-on, learning and mentoring
      program to help you design and implement solutions to a public interest
      problem using civic technology. Unlike a traditional accelerator, we focus
      only on the public interest and only on projects that work with real-world
      institutions and partners, such as agencies and NGOs, to develop more
      effective and scalable initiatives.

  %section
    .section__content
      Coaching programs are designed to help you take a project from idea to
      implementation and to scale. It is a hands-on, learning and mentoring
      program to help you design and implement solutions to a public interest
      problem using civic technology. Unlike a traditional accelerator, we focus
      only on the public interest and only on projects that work with real-world
      institutions and partners, such as agencies and NGOs, to develop more
      effective and scalable initiatives.
