---
title: Aviso de Privacidad
---

.privacidad__content
	.container
		.smaller
			%h1.lspartan Aviso de Privacidad
			%h2 ¿Para qué fines utilizaremos sus datos personales?
			%p Los datos personales que recabamos de ti los utilizaremos para identificar a los participantes de los desafíos y vincularlos con las propuestas que envían, así como mantener contacto contigo para cualquier asunto relacionado con el desarrollo de proyecto, como: notificar a las y los seleccionados el que forman parte del programa de mentoría y contactarte con personas interesadas en los mismos temas que tú si estás en búsqueda de un equipo. 
			%h3 ¿Qué datos personales utilizaremos para estos fines?
			%p Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos como datos personales los siguientes:
			%ul
				%li Nombre
				%li Correo electrónico
				%li Habilidades, conocimientos e intereses.
			%h3 ¿Con quién compartiremos los datos?
			%ul
				%li Jueces, para evaluar las ideas. 
				%li The GovLab Academy y Codeando México AC. 
				%li Otros participantes, para contactarte con ellos. 
			%h2 &iquest;Cómo puedes acceder, rectificar o cancelar su datos personales, u oponerse a su uso y revocar el consentimiento?
			%p Tienes derecho a
			%ul
				%li 
					%strong Acceso:
					conocer qué datos personales tenemos tuyos, para qué los utilizamos y las condiciones del uso que les damos;
				%li 
					%strong Rectificación:
					es tu derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta;
				%li 
					%strong Cancelación:
					que eliminemos de nuestros registros o bases de datos tu información cuando consideres que la misma no está siendo utilizada adecuadamente; y,
				%li 
					%strong Oposición:
					oponerte al uso de sus datos personales para fines específicos que manifiestes; así como revocar tu consentimiento. 
			%p Estos derechos se conocen como derechos ARCO.
			%p 
				Para conocer el procedimiento y requisito para el ejercicio de los derechos ARCO o revocación del consentimiento, escríbanos al correo: 
				%a{:href => "mailto:desafiosp@thegovlab.org"} desafiosp@thegovlab.org
			%h2 ¿Cómo puedes limitar el uso o divulgación de tu información personal?
			%p Para limitar el uso y divulgación de tu información personal, escríbenos a: desafiosp@thegovlab.org
			%h2 Uso de tecnologías de rastreo en nuestro portal de Internet
			%p 
				Te informamos que en nuestra página de internet utilizamos cookies, web beacons u otra tecnologías, a través de las cuales es posible monitorear tu comportamiento como usuario de internet para brindarte un mejor servicio y experiencia al navegar en nuestra página.
				%br/
				%br/
				Estas tecnologías podrán ser deshabilitadas por el usuario si así se decide.
			%h2 ¿Cómo puedes conocer los cambios en este aviso de privacidad?
			%p El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones. Nos comprometemos a mantenerte informado sobre los cambios que pueda sufrir el presente aviso de privacidad.



			