---
title: El Equipo
---

.elteam
	%header
		.container
			%h1.title.lspartan Equipo
			%p.subtitle Conoce y únete al equipo que está impulsando este proyecto.
	- teams = ['Municipio de San Pedro', 'Codeando México', 'GovLab', '']
	- j = -1
	- data.team.each do | group | j = j+1
		%h2.name= teams[j]
		.grid-photos
			- i = -1
			- group[1].each do | member | i = i+1
				- classd = j == 3 ? 'center' : ''
				.member{:rel => i, :class => classd}
					.imagen
						%img{:src => "assets/images/equipo/#{member.image}", :alt => member.name}/
					%p.name.lspartan= member.name
	= partial "patterns/modals"
- content_for :bottomScripts do
	:javascript
		$(function(){
			$('.member .imagen').each(function(){
				var src = $(this).find('img').attr('src');
				console.log(src);
				$(this).find('img').css('display', 'none');
				$(this).css({'background-image': 'url('+src+')'});
			});
		});