---
title: El Equipo
---

.elteam
	%header
		%h1.title El equipo <br> San Pedro Abierto
	.grid-photos
		- i = -1
		- data.team.each do | member | i = i+1
			.member{:rel => i}
				%img{:src => "assets/images/equipo/#{member.image}", :alt => member.name}/
				.overlay-data
					%a.name{:href => "#"}= member.name
	= partial "patterns/modals"